export COSMOS_WITHDRAWER_RPC_URL="https://rpc.testnet.osmosis.zone"
export COSMOS_WITHDRAWER_DELEGATOR_ADDRESS="osmo176pmhxsfz0cpgr705y5m4hy4kdxq2eq2atl2fy"
export COSMOS_WITHDRAWER_CONTROLLER_ADDRESS="osmo1e4n3yara98z8lsxwcj7740q0nku3lcd70s9s29"
export COSMOS_WITHDRAWER_WITHDRAW_THRESHOLDS="25000000000000000000000000uosmo"

source_env_if_exists .envrc.local
